<div class="main">
  How large should the grid be?
  <mat-form-field class="example-form-field">
    <mat-label for="grid-height-input">height</mat-label>
    <input
      matInput
      id="grid-height-input"
      type="number"
      [(ngModel)]="intervalY"
    />
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label for="grid-width-input">width</mat-label>
    <input
      matInput
      id="grid-width-input"
      type="number"
      [(ngModel)]="intervalX"
    />
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label for="grid-height-input">Pixel size of grid</mat-label>
    <input
      matInput
      id="grid-height-input"
      type="number"
      [(ngModel)]="gridSize"
    />
  </mat-form-field>

  <mat-checkbox
    id="grid-sub-input"
    type="checkbox"
    [checked]="addSubgrid"
    [(ngModel)]="addSubgrid"
  >
    Add subgrid
  </mat-checkbox>

  <div>
    <geo-grid
      [intervalX]="intervalX"
      [intervalY]="intervalY"
      [gridSize]="gridSize"
      [addSubgrid]="addSubgrid"
    ></geo-grid>
  </div>
</div>
